
.vs
.vscode
bin/**
HelloWorld.vcxproj

HelloWorld.vcxproj.filters

**.sln

HelloWorld.vcxproj.user

obj/
libs/

vendor/glad/bin/

vendor/glad/bin-int/

*.vcxproj
**.vcxproj.user

*.filters
**.lib
**.pdb
**.idb